[submodule "external/DirectXTK"]
	path = external/DirectXTK
	url = git@github.com:microsoft/DirectXTK.git
[submodule "external/FX11"]
	path = external/FX11
	url = git@github.com:microsoft/FX11.git
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git
